<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chandan.ngoapp">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PODashboard" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".Signin" />
        <activity android:name=".StatusActivity" />
        <activity android:name=".PrincDashboard" />
        <activity android:name=".PrincViewActivity" />
        <activity android:name=".RequestAsset" />
        <activity android:name=".NoRequest" />
        <activity android:name=".TeacherDashboard" />
        <activity android:name=".StoreDashboard" />
        <activity android:name=".RegComp" />
        <activity android:name=".ViewPOActivity" />
        <activity android:name=".AddMarks" />
        <activity android:name=".graphAct" />
        <activity android:name=".ChatAct"></activity>
    </application>

</manifest>